@import "src/index";

.home-container {
  margin-top:30px;
  width:100%;
  //height:100vh;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: auto;
  justify-content: center;
  overflow: auto;

  .container {
    overflow: auto;

    .description {
      flex: 1 0 560px;
      width: 560px;
      max-width: 700px;
      padding: 10px;
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      font-size: 14px;

      text-align: justify;

      p {
        font-size: 14px;
        line-height: 1.8;
      }

      .tech-container{
        width:100%;
        text-align: center;
      }
      .tech-logo {
        width: 40px;
        height: 40px;
        display: inline-block;
        margin:0 18px 0;

      }

      .tech-logo img {
        width: 45px;
        height: 45px;
      }

      .tech-logo img:hover {
        cursor: pointer;
      }

      .social-icons {
        padding-top:10px;
        width:100%;
        display: flex;
        justify-content: center;

        div {
          width:30px;
          margin: 10px;
          font-size: 20px;
        }

        div:hover {
          cursor: pointer;
          color: var(--first-accent-color);
        }

      }

    }

    .image {

      width: 100px;
      height: 100px;
      width:100%;
      text-align: center;

      img {
        width: 100px;
        height: 100px;
        opacity: 0.9;
        transition: 0.5s;
        border: 1px solid var(--secondary-color-dark);
        border-radius: 50%;

        &:hover {
          opacity: 1;

        }

      }
    }

    @media screen and (max-width: 600px) {
      .description {
        width:95%;

      }

    }
  }




}
