@import "../../index";

.site-logo-container {
  width: 100px;
  height: 48px;
  overflow: hidden;
  float:left;
}

.site-title {
  float:left;
  display: inline-block;
  background: url("./assets/logo-large.svg") no-repeat center center;
  background-size: contain;
  width: 90px;
  height: 30px;
  text-indent: -9999px;
  padding:0;
  animation-duration: 0.5s;
  animation-name: headerIcon_c-o;
  margin-top:12px;
  margin-left:6px;
}

@keyframes headerIcon_o-c {
  0% {
    margin-top:12px;
    margin-left:6px;
    width:30px;
    height:30px;
  }
  50% {
    margin-top:6px;
    margin-left:2px;
    width:40px;
    height:40px;
  }
  100% {
    margin-top:12px;
    margin-left:6px;
    width:30px;
    height:30px;
  }
}

@keyframes headerIcon_c-o {
  0% {
    margin-top:12px;
    margin-left:6px;
    width:90px;
    height:30px;
  }
  50% {
    margin-top:6px;
    margin-left:2px;
    width:100px;
    height:40px;
  }
  100% {
    margin-top:12px;
    margin-left:6px;
    width:90px;
    height:30px;
  }
}


@media only screen and (max-width: 959px) {
  .site-title {
    background-image: url("./assets/logo-small.svg");
    width: 30px;
    animation-name: headerIcon_o-c;
    animation-duration: 0.5s;

  }
  .site-logo-container {
    width: 40px;
  }
}

@media only screen and (max-width: 959px) {
  .site-title {
    background-image: url("./assets/logo-small.svg");
    width: 30px;
    animation-name: headerIcon_o-c;
    animation-duration: 0.5s;
  }
  .site-logo-container {
    width: 40px;
  }
}
