body {
    padding: 0px;
}

h1, h2, h3 {
    margin-top:16px;
    font-family: 'Raleway', sans-serif;
    border-bottom: 0px solid #dedede;
    padding-bottom: 3px;
}

.post-list{
    list-style-type: none;
    padding-left:0px;
}

.post-header-custom {
    position: none !important;
}

.home-link {
    font-size: 25px;
}

.post-list a{
    color: #0b24a0;
}

.post-list h3{

}

.home-link:hover{
    color:#fff7a3;
}

header {
    margin: 0px !important;
    width: 30px;
    height: 30px;
    background: #51bcff;
    padding:15px;
    border:0px;
    border-radius:0px;
}

.post-meta{
    margin-top:-18px;
    color: #999;
    font-size:12px;
    text-align:left;
    margin-bottom:10px;
}

.post-summary{
    font-size:14px;
    color:#555;
    line-height: 1.4;
}

a.post-link{
    font-size:30px;
    font-weight: bold;
    color:#333;
}