.shopping-cart-icon {
  z-index: 2;
  font-size: 24px;
  height: 24px;
  width: 24px;
  margin-right: 5px;
  margin-left: 7px;
  padding-top: 3px;
}

.shopping-cart-icon:hover {
  z-index: 2;
  font-size: 30px;
  cursor: pointer;
  color: var(--first-accent-color);
}

.button {
  color: var(--secondary-color-darker);
  border-radius: 50%;
  padding: 3px;
  width: 20px;
  height: 20px;
  border: 0px;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  right: 5px;

  &.empty {
    background-color: var(--secondary-color-lighter);
    display: none;
  }

  &.not-empty {
    background-color: var(--first-accent-color);
    &:hover {
      // background-color: var(--first-accent-color-dark);
      cursor: pointer;
    }
  }

  &:focus {
    outline: 0;
  }
}
