@import "../../index";

.modal {
  font-size: 12px;
  background-color: var(--primary-color);

  padding:10px
}
.modal > .header {
  width: 100%;

  font-size: 14px;
  text-align: center;
  padding:15px;
  font-size: 16px;
}
.modal > .content {
  width: 100%;
  padding: 10px 5px;
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  right: 2px;
  top: 2px;
  font-size: 24px;
  background:  var(--primary-color);
  color: var(--secondary-color-light);
  border: 0px solid #cfcece;
  outline: none;

  &:hover {
    color: var(--first-accent-color);
  }
}

.popup-content {
  padding:0px !important;
  border: 1px solid var(--first-accent-color-darker) !important;
  width:50% !important;
}

.button {
  color: var(--secondary-color-darker);
  border-radius: 50%;
  padding:3px;
  width:20px;
  height:20px;
  border: 0px;
  border-radius: 50%;
  position: absolute;
  top:5px;
  right:5px;


  &.empty {
    background-color: var(--secondary-color-lighter);
    display:none;
  }

  &.not-empty {
    background-color: var(--first-accent-color);
    &:hover {
      // background-color: var(--first-accent-color-dark);
      cursor: pointer;
    }
  }

  &:focus {
    outline:0;
  }

}

.action-btn {
  margin:5px;
  outline: none;
}

.center {
  text-align: center;
}

.shopping-cart-icon{
  z-index:2;
  font-size: 30px;
  height:30px;
  width:30px;
  margin-right:5px;
}

.shopping-cart-icon:hover{
  z-index:2;
  font-size: 30px;
  cursor:pointer;
}


@media screen and (max-width: 600px) {
  .button {
    top: 5px;
    left: 30px;
  }
}

@media screen and (max-width: 1000px) {
  .popup-content {
    width:90% !important;
  }
}


