@import '../../index';

@media screen and (max-width: 600px) {
  .button {
    top: 5px;
    left: 70px;
  }
}

@media screen and (max-width: 1000px) {
  .popup-content {
    width: 90% !important;
  }
}
