@use "sass:color";

.checkout-products-row {
  display: flex;
}

.grid-container {
  margin-top: 20px;
  width: 100%;
  display: grid;
  grid-template-columns: 100%;

  grid-gap: 0px;
  place-items: center;
}
.grid-item {
  padding: 5px;
  text-align: center;

  &.checkout-buttons {
    padding-right: 0px;
    text-align: right;
    .action-btn {
      padding: 10px;
      margin: 0px;
      outline: none;
      background-color: rgba(255, 255, 255, 0);
      color: var(--secondary-color-light);
      font-size: 24px;
      &:hover {
        color: var(--first-accent-color);
      }
    }
  }

  &.checkout-product-name {
    display: inline-block;
    font-size: 18px;
    width: 200px;
    padding-top: 18px;
    text-align: left;
    padding-left: 10px;
  }

  &.product-header-name {
    text-align: left;
    margin: 10px;
  }
}

.product-header {
  width: 318px;
  height: 50px;
  background: var(--first-accent-color);
  text-align: left;
  color: var(--primary-color);
  font-size: 18px;
}

.product:nth-of-type(odd) {
  background: var(--table-odd);
}

.product:nth-of-type(even) {
  background: var(--table-even);
}

.product-footer {
  width: 318px;
  border-top: 3px solid var(--first-accent-color);
  color: var(--secondary-color-light);
}

.product-footer-total {
  width: 50%;
  text-align: left;
}
.product-footer-remove {
  width: 50%;
  text-align: right;
  cursor: pointer;
  &:hover {
    color: var(--first-accent-color);
  }
}
