@import "index.scss";
@font-face {
  font-family: "oswald-light";
  src: url("./resources/fonts/Oswald-Light.ttf");
}

@font-face {
  font-family: "oswald-extra-light";
  src: url("./resources/fonts/Oswald-ExtraLight.ttf");
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: var(--secondary-color-lighter);
  line-height: 22px;
  overflow-y: hidden;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  background: var(--primary-color);
  margin: 0;
}

h1,
h2,
h3 {
  margin-top: 16px;
  font-family: "Raleway", sans-serif;
  border-bottom: 0px solid #dedede;
  padding-bottom: 3px;
}
