@import 'resources/styles/brands.scss';

:root {
  --primary-color: white;
  --secondary-color-darker: white;
  --secondary-color-dark: white;
  --secondary-color-light: white;
  --secondary-color-lighter: white;
  --first-accent-color: white;
  --first-accent-color-dark: white;
  --second-accent-color: white;
  --table-odd: white;
  --table-even: white;
}

button {
  display: inline-block;
  padding: 8px 15px;
  background: var(--secondary-color-lighter);
  color: var(--secondary-color-dark);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  border: 0px;

  &:hover {
    cursor: pointer;
    background: var(--first-accent-color);
  }

  &:active {
    background: var(--first-accent-color-dark);
  }
}
