@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap');
@import "resources/styles/brands.scss";

:root {
    --primary-color: #222;
    --secondary-color-darker: #111;
    --secondary-color-dark: #222;
    --secondary-color-light: #818181;
    --secondary-color-lighter: #bbb;
    --first-accent-color: #7dba5c;
    --first-accent-color-dark: #539149;
    --second-accent-color: #ffca28;
}

button {
    display: inline-block;
    padding: 8px 15px;
    background: var(--secondary-color-lighter);
    color: var(--secondary-color-dark);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    border:0px;

    &:hover {
        cursor: pointer;
        background: var(--first-accent-color);
    }

    &:active {
        background: var(--first-accent-color-dark);
    }
}
