@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap');

:root {
    --primary-color: #222;
    --secondary-color-darker: #111;
    --secondary-color-dark: #222;
    --secondary-color-light: #818181;
    --secondary-color-lighter: #bbb;
    --first-accent-color: #7dba5c;
}
