@import '../../index';

#myTopnav {
  position: fixed;
  top: 0;
  width: 100%;
  display: block;
  transition: top 0.5s ease-in-out;
  z-index: 100;
}

.topnav {
  overflow: hidden;
  background-color: var(--secondary-color-darker);
  font-family: oswald, sans-serif;

  a {
    float: left;
    display: block;
    color: var(--secondary-color-light);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-family: oswald-extra-light, sans-serif;
    text-transform: uppercase;

    transition-duration: 0.25s;
    -moz-transition-duration: 0.25s;
    -webkit-transition-duration: 0.25s;
    -o-transition-duration: 0.25s;
  }

  a:hover {
    /*background-color: #ddd;*/
    background: none repeat scroll 0 0 var(--secondary-color-dark);
    color: var(--first-accent-color);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
  }

  a.active {
    /*background-color: #4caf50;*/
    color: var(--first-accent-color);
    /*color: white;*/
    font-family: oswald-light, sans-serif;
  }

  .icon {
    display: none;
  }

  .badge-pill {
    margin-top: 12px;
    margin-right: 12px;
    float: right;

    vertical-align: center;
    text-align: center;
  }



  .description {
    vertical-align: middle;
    float: right;
    margin-left: 18px;

    font-family: oswald, sans-serif;
    font-weight: 400;
    font-size: 14px;

    text-align: center;

    p {
      width: 800px;
      margin-left: auto;
      margin-right: auto;
      max-width: 800px;
      font-size: 14px;
      line-height: 1.8;
    }

    .tech-container {
      width: 100%;
      text-align: center;
    }
    .tech-logo {
      width: 40px;
      height: 40px;
      display: inline-block;
      margin: 0 18px 0;
    }

    .tech-logo img {
      width: 45px;
      height: 45px;
    }

    .tech-logo img:hover {
      cursor: pointer;
    }

    .social-icons {
      padding-top: 5px;
      width: 100%;
      display: flex;
      justify-content: center;

      div {
        width: 20px;
        margin: 10px;
        font-size: 20px;
      }

      div:hover {
        cursor: pointer;
        color: var(--first-accent-color);
      }
    }
  }
}
