@import "src/index";

.skills-container {
  margin: 15px;
  overflow: auto;
  overflow-x: hidden;
  h1,h2 {
    letter-spacing: 1px;
  }

  h2 {
    color: var(--first-accent-color);
    font-weight: 400;
    span:hover{
      cursor: pointer;
    }
  }

  pre {
    width:100%;
    height:100%;
    overflow: auto;
  }

}
